body {
  margin: 4px;
  font-family: 'Cabin', sans-serif;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);
  background-size: 100% 300%;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// } 

.memorial-sort-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.memorial-sort-header {
  margin: 2px;
  padding: 2px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 25px;
}

.memorial-sort-button-container {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin: 4px;
}

.sorted-list-item {
  background-color: whitesmoke;
  border-radius: 12px;
  list-style-type: none;
}

.sorted-list-item p {
  margin: 5px;
  padding: 2px;
  text-align: center;
  color: rgb(58, 13, 95)
}

.memorial-sort-ul {
  padding: 4px
}

#button {
  border-radius: 12px;
  background: rgb(80, 1, 117);
  background: -webkit-linear-gradient(45deg, #5718a8, #ffffff);
  color: black;
  font-size: 16px;
}